// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}
.navbar{
    
}
.main{
    min-height: calc(100vh - 89px);
}

.footer{
    padding-top: 10px;
}
